html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  box-sizing:border-box;
  font-family: 'Space Grotesk', sans-serif;
}
canvas {
  display: flex;
  background-color: black;
}


header{
  /* position: fixed; */
  /* background-color: blanchedalmond; */
  /* width: 100%; */
  /* border: .5rem solid palevioletred; */
  padding: 1rem 2rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 16rem 2rem;
  background-color: black;
  color: white;
}

header a{
  color: white;
}

/* header > * {
  outline: 2px solid green;
  padding: .5rem;
} */

.logo{
  width: 5rem;
}

.main-menu{
  font-size: 1.1rem;
  font-weight: 400;
  display: flex;
  flex-wrap: wrap;
  gap: 0 1rem;
}

.main-menu a{
  text-decoration: none;
  transition: color .15s;
}

.main-menu a:hover{
  color: #F1EFB3;
}

footer{
  position: absolute;
  color: white;
  bottom: 0;
  padding: 1rem 2rem 1rem;
}