html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  box-sizing:border-box;
  font-family: 'Space Grotesk', sans-serif;
}

header{
  /* position: fixed; */
  /* background-color: blanchedalmond; */
  /* width: 100%; */
  /* border: .5rem solid palevioletred; */
  padding: 4rem 4rem;
  justify-content: space-between;
  align-content: space-between;
  align-items: center;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  /*flex-wrap: wrap;*/
  background-color: black;
  color: white;
}

header a{
  color: white;
}

/* header > * {
  outline: 2px solid green;
  padding: .5rem;
} */

.logo{
  width: 6rem;
}

.date{
  font-weight: 900;
  font-size: 1.3rem;
  position: absolute;
  top: 12rem;

}

.circle{
  width: 1rem;
  padding-right: 10px;
}

.main-menu{
  display: flex;
  flex-direction: column;
  font-size: 1.1rem;
  font-weight: 400;
  gap: 0.3rem 1rem;
}

.main-menu a{
  display:inline-flex;
  text-decoration: none;
  transition: color .15s;
}

.main-menu .About:hover{
  color: #FF8D6D;
}

.main-menu .Events:hover{
  color: #5BCAE9;
}

.main-menu .Contact:hover{
  color: #66C287;
}

.main-menu .SAIC:hover{
  color: #EF5CA1;
}

footer{
  position: absolute;
  color: white;
  bottom: 0;
  padding: 1rem 2rem 1rem;
}